{% extends "web_admin/layout.html" %}
{% block content %}
	<div class="row my-5 justify-content-center">
		<div class="col-sm-8">
			<div class="card shadow-lg pt-3 rounded">
				<div class="card-body text-center">
					<h6 class="font-weight-light my-4">Ita boot sai ona husi Pajina Administrador</h6>
					<small class="text-muted">
						<a class="btn btn-one btn-sm" href="{% url 'login' %}">Tama Fali <i class="fa fa-arrow-circle-right"></i></a>
					</small>
				</div> <!--end card-body-->
			</div> <!--end card-->
		</div> <!--end col-->
	</div> <!--end row-->
{% endblock %}