{% extends "web_admin/layout.html" %}
{% block content %}
<ol class="breadcrumb mb-2 mt-1">
	<li class="breadcrumb-item"><a href="{% url 'admin-struc-list' %}">LISTA ESTRUTUTA</a></li>
	<li class="breadcrumb-item active" aria-current="page">{{ legend|upper }}</li>
</ol>
<div class="row">
	<div class="col-sm-12">
		<div class="card border-info shadow-lg pt-1 rounded">
			<div class="card-header">{{ legend|upper }}</div>
			<div class="card-body">
				<table class="table table-sm">
					<tr><th>Naran</th><th>Sexu</th><th>Pojisaun</th><th>Iha</th></tr>
					<tr>
						<td>{{ struc.name }}</td><td>{{ struc.sex }}</td><td>{{ struc.pos }}</td>
						<td>{% if struc.dg %}{{ struc.dg }}{% elif struc.div %}{{ struc.div }}{% endif %}</td>
					</tr>
				</table>
				<hr/>
				<div class="row">
					<div class="col-sm-6">
						<img src="{{ struc.image.url }}" width="80%" />
					</div>
					<div class="col-sm-6">
						{{ struc.desc|safe }}
					</div>
				</div>
			</div> <!--end card-body-->
		</div> <!--end card-->
	</div> <!--end col-->
</div> <!--end row-->
{% endblock %}
{% block scripts %}
{% endblock %}